@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --warna-1: rgb(35, 45, 63);
    --warna-2: #545B77;
    --warna-3: #dbd9e3;
    --warna-operator: #005B41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--warna-1);
}

.container {
    padding: 10px 15px;
    position: relative;
    background-color: #545B77;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}

.display {
    width: 100%;
    height: 90px;
    border: none;
    border-radius: 12px;
    margin-bottom: 30px;
    outline: none;
    margin-top: 30px;
    font-size: 35px;
    text-align: right;
    background-color: #dbd9e3;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    width: 100%;
}

button.operator {
    background-color: var(--warna-operator);
}

button {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    /* pointer-events: none; */
    cursor: pointer;
    background-color: #5ca6fab4;
}

button:active button::hover {
    transform: scale(0.99);
}
